body {
	background: #ECEBBD;
	background-position: center;
	color: #471b21;
}
a {
	text-decoration: none;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	 
}

.intro-details {
	font-size: 1.3em;
	display: inline-block;
	flex: 1 2 100%;
	width: 70%;
	padding: 10px;
	line-height: 30px;
	word-spacing: 8px;
	
}
.header {
	color:  #3B5998;
	font-size: 2.2em;
}
.test-section{
	font-size: 1.2em;
	padding: 10px;
	
}
.test-btn{
	display: inline-block;
	font-size: 1.15em;
	border: 1px solid black;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	background: #aa404e;
	border: none;
	padding: 5px 25px;
}
.test-btn:hover{
	color: #fff;
	background: #3F729B;
}

.form {
	flex: 0 1 300px;
	margin-left: auto;
	margin-right: auto;
}

/* test form page*/
.table {
    border-collapse: collapse;
	width: 100%;
	font-size: 1.2em;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.table tr th {
	background: #292C2F;
	color: #fff;
}
.table tr td:nth-child(1) {
	text-align: left;
}
  
.table tr:hover {
	background-color:#471b21;
	color: #ECEBBD;
}

.form_submit {
	margin-top: 20px;
	display: inline-block;
	margin-left: 75%;
	right: 10px;
	
}
.result {
	font-size : 1.5em;
	background: #f0e9ee;
}
.note {
	font-style: italic;
}
.message {
	color: red;
}

@media screen and (max-width: 550px){
	.main{
		justify-content: space-between;
	}
	.header,.test-btn {
		font-size: 1em;
	}
	.form,.intro-details,.result {
	font-size: 0.9em;
	padding: 4px;
	}
	.table th, .table td {
    padding: 4px;
	}
}
